/* Toggle Switch Animation */
input:checked ~ .dot {
  transform: translateX(100%);
}

html {
      transition: background-color 0.3s ease, color 0.3s ease;
    }

body {
  overflow-x: hidden;
}

.text {
  transition: color 0.5s ease;
}
.text.active {
  color: #000000; 
}

.hamburger-line {
      display: block;
      width: 25px;
      height: 2px;
      background-color: #0f172a;
      margin: 6px auto;
    }

.dark .hamburger-line {
      background-color: #f8fafc;
    }